* {
  margin: 0;
  padding: 0;
}
.page-content {
  margin-top: 50px;
}
.search-container {
  background-color: #f6f7f9;
  border-radius: 0 0 9px 9px;
  color: #1d2129;
  overflow: visible;
  margin: 0 auto;
  width: 300px;
  position: relative;
}
.list-options {
  padding-top: 0px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.list-options.isVisible {
  transition: visibility 2s, opacity 2s linear;
  display: block;
  height: auto;
  visibility: visible;
  opacity: 1;
  padding-top: 10px;
}
.list-options .list-options-values {
  margin-top: 20px;
}
.list-options .list-options-values p {
  cursor: pointer;
  border-bottom: 1px solid black;
  height: 50px;
  line-height: 50px;
}
.list-options .list-options-values p:first-child {
  border-top: 1px solid black;
}
.list-options .list-options-values p:hover {
  background-color: antiquewhite;
}
.list-options .list-options-values p.selected {
  background-color: aquamarine !important;
}

.result-container {
  margin: 0 auto;
  width: 900px;
  position: relative;
  display: block;
  text-align: center;
}
.result-container .result-content {
  margin-top: 15px;
  min-height: 300px;
  background-color: #f6f7f9;
  text-align: left;
}
